.container {
  color: white;
  background-color: rgba(65, 92, 109, 0.4);
  height: 84vh;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.presentacion,
.intro {
  flex: 1;
  padding: 2em;
  text-align: center;
}
.presentacion {
  margin-top: -10%;
  margin-left: -5%;
}
.title {
  font-size: 5.5em;
  letter-spacing: 0.05em;
  margin-bottom: 0em;
}
.subTitle {
  margin-top: 0;
  font-size: 3em;
  margin-left: -16%;
}
.intro {
  text-align: center;
  padding: 3em;
  margin-top: -5%;
}
.saludo {
  font-size: 2em;
}
.text {
  font-size: 1.5em;
}
.button {
  --color: #028cae;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 3em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 4px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--color);
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 230px; /* Aumentamos el tamaño del círculo */
  width: 280px;
  border-radius: 50%;
}

.button:hover {
  color: #fff;
}

.button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.button:hover:before {
  top: -40px; /* Ajustamos la posición del círculo al hacer hover */
  left: -50px;
}

.button:active:before {
  background: #028cae;
  transition: background 0s;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambiamos la dirección de la flexbox a vertical */
  }
}

.social_links {
  margin-left: -43%;
}
.social_links,
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_btn {
  cursor: pointer;
  height: 4em;
  width: 4em;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social_btn svg {
  height: 2em;
  width: 2em;
}

.social_btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social_btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social_btn:hover span {
  padding: 2px;
  width: 80px;
}

.twitter svg {
  fill: #25d366;
}

.linkedin svg {
  fill: #0e76a8;
}

.github {
  fill: #333;
}
/* Resto de estilos */
@media (min-width: 380px) and (max-width: 576px) {
  .container {
    flex-direction: column;
    height: 90vh;
  }

  .presentacion {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .title {
    font-size: 3em;
  }

  .subTitle {
    font-size: 1.5em;
    margin-left: 0;
  }

  .social_links {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    align-items: center;
  }

  .social_btn {
    height: 3.5em;
    width: 3.5em;
    font-size: 16px;
    margin: 0 5px;
  }

  .button {
    width: auto;
    font-size: 18px;
  }
  .intro {
    font-size: 1.2em;
    margin-top: 0;
    padding-top: 0;
  }
  .saludo {
    font-size: 1.5em;
  }
  .text {
    font-size: 1em;
  }
}
@media (min-width: 280px) and (max-width: 380px) {
  .container {
    flex-direction: column;
    height: 110vh;
  }

  .presentacion {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .title {
    font-size: 3em;
  }

  .subTitle {
    font-size: 1.5em;
    margin-left: 0;
  }

  .social_links {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    align-items: center;
  }

  .social_btn {
    height: 3.5em;
    width: 3.5em;
    font-size: 16px;
    margin: 0 5px;
  }

  .button {
    width: auto;
    font-size: 18px;
  }
  .intro {
    font-size: 1.2em;
    margin-top: 0;
    padding-top: 0;
  }
  .saludo {
    font-size: 1.5em;
  }
  .text {
    font-size: 1em;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 190vh;
  }

  .presentacion {
    margin-top: 5%; /* Ajustamos el margen superior para separarlo del contenido anterior */
    text-align: center; /* Centramos el contenido */
  }

  .title {
    font-size: 3.5em; /* Reducimos el tamaño del título */
  }

  .subTitle {
    font-size: 2em; /* Reducimos el tamaño del subtítulo */
    margin-left: 0; /* Eliminamos el margen izquierdo */
  }

  .social_links {
    margin-left: 0; /* Eliminamos el margen izquierdo */
    flex-direction: column; /* Cambiamos la dirección de la flexbox a vertical */
    align-items: center; /* Centramos los elementos */
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .social_btn {
    height: 3.5em; /* Ajustamos el tamaño del botón */
    width: 3.5em; /* Ajustamos el tamaño del botón */
    font-size: 16px; /* Reducimos el tamaño de fuente en los botones */
    margin: 10px 5px; /* Aumentamos el margen vertical y reducimos el margen horizontal */
  }

  .button {
    width: auto; /* Permitimos que el botón ocupe el ancho disponible */
    font-size: 18px; /* Reducimos el tamaño de fuente del botón */
  }
  .intro {
    font-size: 1.2em; /* Modify the font size */
    /* Adjust the padding */
    margin-top: 0; /* Remove the margin-top to align with other sections */
    padding-top: 0;
  }
}
