.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  font-size: 3em;
  margin-left: 3%;
  font-weight: 800;
  cursor: pointer;
  transition: color 0.3s ease;
}
.logo:hover {
  color: #62e0ff;
}

.links {
  display: flex;
  margin-right: 1.5%;
}

.links button {
  margin-right: 2.2em;
  font-size: 1.5em;
}
.link {
  display: block;
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.link:focus,
.link:hover {
  color: #fff;
}

.link:focus:after,
.link:hover:after {
  width: 100%;
  left: 0%;
}

.link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

@media (min-width: 577px) and (max-width: 768px) {
  .nav {
    align-items: flex-start;
    height: auto; /* La altura será ajustada automáticamente */
  }

  .logo {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .links {
    margin-top: 7%;
  }

  .links button {
    margin-right: 0;
    margin-bottom: 10px; /* Agregamos un espacio entre los botones */
    font-size: 1.2em; /* Reducimos el tamaño de fuente para dispositivos más pequeños */
  }
}
@media (min-width: 280px) and (max-width: 380px) {
  .nav {
    align-items: flex-start;
    height: auto; /* La altura será ajustada automáticamente */
  }

  .logo {
    margin-bottom: 7%;
    margin-top: 5%;
    font-size: 2.5em;
  }

  .links {
    margin-top: 9%;
  }

  .links button {
    margin-right: 0;
    font-size: 1em;
  }
}
@media (min-width: 381px) and (max-width: 576px) {
  .nav {
    align-items: flex-start;
    height: auto; /* La altura será ajustada automáticamente */
  }

  .logo {
    margin-bottom: 7%;
    margin-top: 5%;
    font-size: 2.5em;
  }

  .links {
    margin-top: 9%;
  }

  .links button {
    margin-right: 0;
    font-size: 1em;
  }
}
